---

- name: 'verify the version of your OS'
  fail:
    msg: 'enterprise undefined'
  when: ansible_os_family != "RedHat"
  tags:
    - postgres

- name: 'make sure base_postgres_user and base_postgres_pass are defined.'
  fail:
    msg: 'variables undefined'
  when:
    - base_postgres_user is undefined
    - base_postgres_pass is undefined
  tags:
    - postgres

- name: 'install the postgres yum repo'
  become: yes
  when: ansible_os_family == 'RedHat'
  yum:
    name: "{{ base_postgres_repo }}"
    state: present
  tags:
    - install
    - postgres

- name: 'install postgres packages'
  become: yes
  when: ansible_os_family == 'RedHat'
  yum:
    name: "{{ base_postgres_packages }}"
    state: present
  tags:
    - install
    - postgres

- name: 'install required libraries'
  become: yes
  pip:
    name: "{{ base_postgres_pips }}"
    state: present
  tags:
    - install
    - postgres
    - startslave
