file:
  /bin/psql:
    exists: true
    contains: []
  {{ base_postgres_pgdata }}:
    exists: true
    mode: "0700"
    owner: postgres
    group: postgres
    filetype: directory
    contains: []
  {{ base_postgres_pgdata }}/PG_VERSION:
    exists: true
    mode: "0600"
    owner: postgres
    group: postgres
    filetype: file
    contains: []
  {{ base_postgres_pgdata }}/base:
    exists: true
    mode: "0700"
    owner: postgres
    group: postgres
    filetype: directory
    contains: []
  {{ base_postgres_pgdata }}/pg_hba.conf:
    exists: true
    mode: "0600"
    owner: postgres
    group: postgres
    filetype: file
    contains: []
  {{ base_postgres_pgdata }}/postgresql.conf:
    exists: true
    mode: "0600"
    owner: postgres
    group: postgres
    filetype: file
    contains: []
service:
  {{ base_postgres_service }}:
    running: true
user:
  postgres:
    exists: true
    groups:
